.header {
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 4px 3px rgba(41, 41, 41, 0.25);
}
.header__inner {
  height: 70px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 24px;
}
.header__logo-text {
  display: inline-block;
  margin: 0 6px;
  color: orange;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.header__search .textbox {
  width: 300px;
  border: 2px solid rgb(223, 223, 223);
  line-height: 40px;
  padding: 0 12px;
  color: #212121;
  border-radius: 2px;
}
.header__search .textbox:focus {
  outline: none;
  border: 2px solid rgb(243, 149, 8);
  border-radius: inherit;
}
.header__search button {
  cursor: pointer;
  margin-right: 6px;
  border: none;
  border-radius: 2px;
  background-color: var(--color-gray);
  height: 44px;
  width: 34px;
  padding: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}
.header__search button:hover {
  background-color: orange;
}
.header__search .header__voice {
  cursor: pointer;
  color: var(--color-gray);
  font-size: 34px;
}
.header__profile {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
}
.header__profile a {
  color: var(--color-gray);
}
.header__profile .notification:hover a {
  color: var(--color-gray-2);
}
.dropbtn {
  cursor: pointer;
  background-color: orange;
  padding: 16px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
}

.header__dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 1;
  border-radius: 6px;
  margin-bottom: 10px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-content hr {
  margin: 0;
  padding: 0;
}
.dropdown-content .dropdown__last-element {
  color: red;
}

.dropdown-content a:hover {
  background-color: var(--color-gray);
}

.header__dropdown:hover .dropdown-content {
  display: block;
}

.header__dropdown:hover .dropbtn {
  background-color: var(--color-gray-2);
  color: #fff;
}
@media (max-width: 800px) {
  .header__search .textbox {
    width: 200px;
    font-size: 14px;
  }
  .header__inner {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .header__search .textbox {
    width: 130px;
  }
}
