@import url(./header.css);
@import url(./color.css);
@import url(./slider__menu.css);
@import url(./sidebar.css);
@import url(./video-block.css);
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Architects+Daughter&display=swap");
* {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  font-family: "ABeeZee", sans-serif;
}
html a {
  text-decoration: none;
  color: black;
}
.container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 260px 1fr;
}
.content {
  overflow: hidden;
}
.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}
@media (max-width: 1200px) {
  .container {
    grid-template-columns: 0.1fr 1fr;
  }
}
