.aside {
  background-color: var(--color-gray);
  width: 0.1fr;
}
.aside__content {
  max-height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  display: flex;
  color: black;
  flex-direction: column;
}
.aside__content::-webkit-scrollbar {
  display: none;
}

.aside__content a:hover {
  color: rgb(44, 18, 161);
}
.aside__avatar {
  display: flex;
  align-items: center;
}
.aside__avatar a {
  padding: 0 15px;
  max-width: 100px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.aside__avatar img {
  width: 24px;
  height: 24px;
}
.aside__content .aside__item {
  min-height: 80px;
  width: inherit;
  padding: 0 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 0.8fr;
}
.aside__content .aside__item:hover {
  background-color: var(--color-gray-2);
}
.aside__content .aside__item span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f192";
  display: inline-block;
  padding-right: 4px;
  vertical-align: middle;
  font-weight: 500;
  color: rgb(207, 26, 26);
}
.aside__info {
  margin: 0 auto;
  margin-bottom: 12px;
  min-height: 15vh;
  color: black;
  width: 200px;
  border-radius: 5px;
  background-color: var(--color-gray-2);
}
.aside__info span {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.aside__info span::selection {
  color: #fff;
  background-color: orange;
}
.aside__info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__info-wrap i {
  padding: 8px;
  font-size: 28px;
}
.aside__info-wrap i:hover {
  color: orange;
}
@media (max-width: 1200px) {
  .aside__info {
    display: none;
    height: 0;
  }
  .aside__item img {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }
  .aside__item {
    grid-template-columns: 100% !important;
  }
  .aside__item span,
  .aside__item .aside__avatar a {
    display: none;
  }
}
