.slider__menu {
  min-height: 94px;
  align-items: center;
  display: flex;
  overflow-x: auto;
}
.slider__menu::-webkit-scrollbar {
  width: 0;
}
.slider__menu button {
  border-radius: 20px;
  border: 1px solid rgb(194, 194, 194);
  background-color: var(--color-gray);
  padding: 10px 20px;
  margin: 10px;
}
.slider__menu button:hover {
  background-color: var(--color-gray-2);
}
.slider__menu a:hover {
  color: #fff;
}
