.video-block__wraper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 7px;
  margin: 0 5px;
}
.video-block__card {
  width: inherit;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0;
  position: relative;
  opacity: 100%;
}

.video-block__card:hover {
  opacity: 60%;
  transition: opacity 2s;
}
.video_icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
.video-block__card:hover .video_icon {
  display: block;
  cursor: pointer;
}
.video-block__card .badge,
.timer {
  position: absolute;
  padding: 4px 6px;
  margin: 5px;
  font-size: 13px;
  border-radius: 5px;
  color: #fff;
}
.video-block__card .badge {
  background-color: red;
  text-transform: uppercase;
}
.video-block__card .timer {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.video-block__card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3px;
  font-size: 17px;
}
.video-block__card-text span {
  width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.video-block__card-text img {
  display: inline-block;
  padding: 10px;
}
.video-block__card-text a {
  font-size: 24px;
}
.video-block__card-text:hover {
  color: blue;
}
@media (max-width: 1000px) {
  .video-block__wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .video-block__wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .video-block__wraper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
